<% provide(:title, "Help") %>
<iframe src="//content.jwplatform.com/players/Q3JjFcI7-woY4d8rI.html" width="560" height="315" frameborder="0" scrolling="auto" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/sIehoeMLcBg?list=PLXiMzfgmtM_7eygGiuO1rSlo0S3eO4bN6" frameborder="0" allowfullscreen></iframe>

<div style="position:relative; padding-bottom:56.25%; overflow:hidden;"><iframe src="//content.jwplatform.com/players/6j9KDrnE-gnkzYMCx.html" width="50%" height="50%" frameborder="0" scrolling="auto" allowfullscreen style="position:absolute;"></iframe></div>