<li id="lesson-<%= lesson.id %>">
  <span class="title"><%= lesson.title %></span>
  <span><%=link_to "Show", lesson %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(lesson.created_at) %> ago.
  </span>
</li>
